.results-page {
    background: linear-gradient(to right, #9C33C7, #5770FA, #5E4DC5);
}

.wrapper {
    padding: 4px;
    max-width: 90%;
    margin: 0 auto;
}

.landing-main {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 21%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures content does not overflow the card's bounds */
}
.card:hover {
   background-color: transparent;
    opacity: 0.8;
}
.card img {
    width: 100%;
    height: inherit;
    object-fit: fill;
    border-radius: 15px 15px 0 0; /* Rounded corners on the top */
}

.card .text-overlay {
    position: absolute;
    bottom: 10px; /* Positioned at the bottom of the image */
    left: 0;
    width: 100%;
    text-align: center;
    color: white; /* Change as needed */
    padding: 10px 0; /* Padding on top and bottom */
}

.text-body {
    height: 200px; /* Adjust height as needed */
    overflow-y: hidden; /* Hide overflow */
    padding: 10px; /* Padding inside the text body */
    text-align: center; /* Center text */
}
.reddit-card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 380px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 16px;
}
.reddit-card h1 {
    font-size: 20px;
}
/*.reddit-card p {*/
/*    border-radius: 15px;*/
/*    width: 97%;*/
/*    height: 155px;*/
/*    overflow-y: hidden;*/
/*    overflow: hidden;*/
/*}*/
/*.reddit-card img {*/
/*    width: 47%;*/
/*    height: 65%;*/
/*}*/
.ttp {
    width: 40%;
    display: flex;
    padding-bottom: 40px;
}
.ttp h1 {
    font-size: 53px;
    color: #ffffff;
    font-family: 'Gladiola', sans-serif;
}
.reddit-icon {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 30px; /* Size of the icon */
    height: 30px; /* Size of the icon */
    background-image: url('https://static.vecteezy.com/system/resources/previews/023/986/922/original/reddit-logo-reddit-logo-transparent-reddit-icon-transparent-free-free-png.png'); /* URL to your Reddit icon image */
    background-size: cover;
}
.reddit-cont {
    display: flex;
    padding-left: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-imgg  {
    width: 82%;
    height: auto;
}
.left-imgg img {
    height: 282px;

    max-width: 67%;
    max-height: inherit;
}

.reddit-text {
    width: 88%;
}
.reddit-text p {
}

.mark {
    height: 272px;
    overflow-y: scroll;
}
.mark::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
.mark {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}